.Port_Int32 {
	--port-color: #84E4E7;
}

.Port_Single {
	--port-color: #84E4E7;
}

.Port_Boolean {
	--port-color: #8F7DDD;
}

.Port_Vector2 {
	--port-color: #96E98E;
}

.Port_Vector3 {
	--port-color: #ECF494;
}

.Port_Vector4 {
	--port-color: #F4C6ED;
}

.Port_Object {
	--port-color: #E08282;
}

.Port_Color {
	--port-color: #F4C6ED;
}

.Port_PipelineFlow {
	--port-color: #8AD8A2;
}